.f{
    margin-left: 60%;
}

.d{
    margin-left: 5%;
}

h2{
    text-align: center;
    margin-top: 3%;
}

iframe{
    margin-block-end: -70px;
    margin-left: 800px;
    border-radius: 20%;

}

.satime{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.sarv{
    border-bottom: 2px solid black;
}

.gold{
    border-bottom: 2px solid black;
}

.go{
    margin-block-end: -70px;
    margin-left: 964px;

}

.shree{
    border-bottom: 2px solid black;
}

.meher{
    border-bottom: 2px solid black;
}

.chitra{
    border-bottom: 2px solid black;
}